* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

.wrapper {
    width: 70%;
    max-width: 940px;
    margin: 0 auto;
}

.header{
    height: 100vh;
    border: 1px solid #ffddff;
    }

.menu_link {
    color: #828282;
    text-shadow: 2px 3px 2px #ffddff;
}

.menu {
    text-decoration: none;
    list-style: none;
}

display: inline-block